/*Seletor All*/
*{
    margin: 0;
    padding: 0;
}

/*Seletor TAG*/
h3 {
    color: purple;
}

/*Seletor Decendente - Hierarquia */
body div section h1,
body div section p {
    color: green;
}

/*Selecionar por Classes*/

.cabeçalho{
    color: yellow;
}

.cabeçalho section h2{
    color: brown;
} /* Mais específico*/

/*Seletor Pai e Filha - Herança */

div{
    color: inherit;
} /* Configuração padrão - inherit = Herdar */

.pai {
    color: blue;
} /* Filha tbm pega o estilo - Herda */

